body{
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 45%;
}

.img-header{
    margin-left: 15%;
    width: 216px;
    height: 14px;
}

.main-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0 !important;
}

.menu-item-9 a{ 
    margin-left: 0 !important;
}

.menu-item a{
    margin-left: 35px;
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.menu-item a:hover{
    font-weight: 700;
}

@media screen and (max-width: 1440px) {
    .header{
        gap: 55%;
    }
    .img-header{
        margin-left: 5%;
    }

}

/* MAIN PAGE */

.banner {
    width: 100%;
    height: 966px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.banner div{
    width: 1440px;
    background-size: cover;
    height: 966px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre précisément l'image dans son conteneur parent */
    object-fit: contain; /*Permet d'ajuter la taille de l'image pour la faire rentrer entiérement dans son conteneur tout en gardant son aspect*/
}

#filter-form{
    max-width: 1440px;
    display: flex;
    gap: 20px;
    
}

.postform, #order-filter{
    height: 43px;
    width: 260px;
    border-radius: 8px;
}

#order-filter {
    margin-left: 17.3vw;
}

.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1440px;
    margin-bottom: 20px;
    flex-direction: row;
}

.entry-content{
    width: 564px;
    height: 495px;
}

#load-more-button{
    height: 50px;
    width: 272px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}

/* FOOTER*/

footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    border-top: 1px solid black;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.footer-links a:hover {
    color: #007bff;
}

/* MODALE */

.modal {
    z-index: 11;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding-top: 15px;
    border: 5px solid black;
    width: 597px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_contact{
    margin: 0;
    padding: 0 !important;
}

.form_div{
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.form_div_2 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;

}

.form_case{
    width: 263px;
    height: 40px;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
}

.form_message{
    width: 263px;
    height: 210px;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
}

.wpcf7-submit{
    border: 1px solid #D8D8D8;
    background-color: #D8D8D8;
    width: 263px;
    height: 50px;
    border-radius: 2px;
    gap: 0px !important;
    margin-left: 72px;
}

.wpcf7-response-output{
    display: none;
}

.close {
    display: none;
}

/* SINGLE */

.single-post-container {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.post-content {
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 30px;
    max-width: 1440px;
    min-width: 1178px;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title_ref {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*titre de la publication */
.post-title {
    font-family: 'Space_Mono';
    font-style: italic; 
    font-weight: 500;
    text-transform: uppercase; /* Transforme le texte en lettres majuscules */
    font-size: 66px;
}

.line-break-title {
    line-height: 0.9; 
}
  
/* image miniature de la publication */
.post-thumbnail img {
    object-fit: cover; /* permet le controle des dimension et de la position des images dans le conteneur */
    width: 457px;
    height: 645px;
}

.post-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title_ref {
    border-bottom: 1px solid black;
    margin-right: 10px;
    width: 100%;
}

.ref {
    margin-bottom: 37px;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase; /* Transforme le texte en lettres majuscules */
}

/*********** CTA + navigation des photos ***********/

.second-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
}

.CTA {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 96px; 
    padding: 30px 0 30px 0; 
}

.contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    width: 272px;
    height: 50px;
    border-radius: 2px;
    background-color: #D8D8D8;
    transition: transform 0.3s ease; /* Animation de transition au survol */
}

.contact-button:hover {
    background-color: black;
    font-weight: bold;
    transform: scale(1.1); /* Effet de mise à l'échelle au survol */
    color: white;
}

.contact-button.active {
    transform: translate(10px, 10px); /* Déplace le bouton de contact de 10px vers la droite et 10px vers le bas au clic */
}

.photo-navigation{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 10px;
}



.navigation_arrow{
    display: flex;
    gap: 40px;
    justify-content: center;
    
}

.related-posts h2{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 18px;
}

.related-photo{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.featured-image{
    gap: 500px;
    display: flex;
    justify-content: center;
    width: 564px;
    height: 495px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 564px;
    max-height: 495px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.lightbox img {
    object-fit: cover;
    position: relative;
    max-width: 564px;
    max-height: 495px;
}

.close-light {
    position: absolute;
    top: -15%;
    right: -15%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 6;
}

.overlay{
    width: 564px;
    height: 495px;
    opacity: 0;

    position: absolute;
}

.overlay:hover{
    opacity: 1;
}

.eye{
    position: absolute;
    left: 45%;
    top: 46.5%;
}

.fullscreen{
    position: absolute;
    top: 2%;
    right: 2%;
}

.overlay-category{
    position: absolute;
    right: 2%;
    bottom: 2%;
    color: white;
}

.overlay-title{
    position: absolute;
    bottom: 2%;
    left: 2%;
    color: white;
}
.fullscreen:hover{
    cursor: pointer;
}

.overlay-fond{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.categorie-ligthbox{
    position: absolute;
    color: #fff;  
    right: 20px;
    bottom: -40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.reference-lightbox{
    position: absolute;
    color: #fff;
    left: 20px;
    bottom: -40px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.arrow-lightbox{
    position: absolute !important;
}

.left-arrow-lightbox{
    position: absolute !important;
    top: 50%;
    left: -25%;
}

.right-arrow-lightbox{
    position: absolute !important;
    top: 50%;
    right: -5%;
}


.burger-div{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 8;
    position: fixed;
    top: 0;
    right: -1000px;
    transition: right 2s ease;
    background-color: red;
}

.burger-div.active{
    right: 0;
}

.open-burger{
    display: none;
    position: absolute;
    right: 10%;
    top: 2%;
}

.burger-icon span{
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.top-div-burger{
    position: relative;
    width: 100%;
    height: 72px;
    background-color: white;
}

.img-burger{
    position: absolute;
    top: 40%;
    left: 5%;
}

.close-burger{
    top: 40%;
    right: 20%;
    position: absolute;
    width: 28px;
    height: 19px;
    z-index: 9;
}

.burger-div nav{
    width: 100%;
    height: 100%;
}

.burger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.burger a{
    color: white;
    font-size: 44px;
    line-height: 65px;
    font-weight: 400;
    font-family: 'Space Mono', monospace;
    margin: 0;
}

#menu-footer{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}

#menu-footer a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Space Mono', monospace;
}

.post-thumbnail-mobile{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

.post-thumbnail-mobile img{
    object-fit: cover;
    width: 457px;
    height: 645px;
}

.select2-selection{
    height: 43px !important;
    width: 260px !important;
    border-radius: 8px !important;
    display: flex !important;
    align-items: center !important;
    border-color: black !important;
}

.select2-search__field{
    display: none !important;
}

.select2-results__options li:hover {
    background-color: #FFD6D6 !important;
}

.select2-results__options li:active{
    background-color: #FE5858 !important;
}

.select2-results__option--selected{
    background-color: red !important;
}

.double-filter{
    padding-right: 340px;

    
}

@media screen and (max-width: 1024px) {

    .first-section{
        justify-content: center;
    }

    .title_ref{
        width: 37%;
    }

    .second-section{
        gap: 110px;
        justify-content: center;
    }

    .related-posts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .entry-content,.featured-image,.overlay{
        width: 450px;
        height: 425px;
    }

    .double-filter{
        padding-right: 110px;
    }

    .header{
        gap: 40%;
    }

    .banner img{
        max-width: 924px;
    }
}




@media screen and (max-width: 768px) {
    .burger-div {
        display: block; /* Afficher sur les écrans de petite taille */
    }

    .open-burger{
        display: block;
    }
    .nav-bar{
        display: none;
    }

    .banner img{
        max-width: 650px;
    }

    .banner div {
        max-width: 768px;
    }

    #filter-form{
        flex-direction: column;
    }

    .double-filter{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
    }

    #order-filter{
        margin-left: 0;
    }
    
    #menu-footer{
        flex-direction: column;
        gap: 5px;
        padding: 0;
        margin: 0;
    }

    #menu-footer a{
        margin: 0;
    }

    .first-section{
        flex-direction: column;
        align-items: center;
    }

    .title_ref{
        border-bottom: 0px;
    }

    .photo-navigation{
        display: none;
    }

    .related-posts{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .related-photo{
        gap: 0;
        flex-direction: column;
    }

    .CTA{
        flex-direction: column;
        gap: 0;
    }

    .second-section{
        margin-bottom: 0;
        border-top: 1px solid black;
    }

    .post-thumbnail-mobile{
        display: flex;
    }
    .post-thumbnail{
        display: none;
    }
}


@media screen and (max-width: 425px) {

    .img_contact{
        max-width: 300px;
    }

    .modal-content{
        max-width: 300px;
    }

    .wpcf7-submit{
        margin-left: 18px;
    }

    .burger-div {
        display: block; /* Afficher sur les écrans de petite taille */
    }

    .open-burger{
        display: block;
    }
    .nav-bar{
        display: none;
    }

    .banner img{
        max-width: 350px;
    }

    .banner div {
        max-width: 425px;
    }

    #filter-form{
        flex-direction: column;
    }

    #order-filter{
        margin-left: 0;
    }

    .entry-content,.featured-image,.overlay{
        width: 350px;
        height: 325px;
    }

    .fullscreen{
        display: none;
    }

    .close-burger{
        right: 12%;
    }

    .post-thumbnail-mobile{
        align-items: center;
    }

    .post-thumbnail-mobile img{
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
    }

    .post-title{
        font-size: 36px;
    }

    .title_ref{
        align-items: center;
    }

    .post-thumbnail-mobile img{
        max-width: 75%;
        margin-top: -35px;
        margin-bottom: -45px;
    }

    .post-content{
        margin-top: 0px;
    }
}

@media screen and (max-width: 320px) {

    .banner img{
        max-width: 250px;
    }

    .entry-content,.featured-image,.overlay{
        width: 250px;
        height: 225px;
    }

    .close-burger{
        right: 10%;
    }

    .post-thumbnail-mobile img{
        max-width: 65%;
        margin-top: -55px;
        margin-bottom: -65px;
    }
}



